@import '../../common/_variables';

.header-nav-container {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.page-header {
  padding-top: $header-height;

  @include mq('tablet','max') {
    padding-top: $header-mobile-height;
  }
}

.desktop-drawer-nav,
.mobile-drawer-nav {

    position: fixed;
    z-index: 100;
    pointer-events: none;
    font-family: $standard-font-face;

    .mdl-layout__drawer {
        width: $drawer-width;
        transform: translateX(-$drawer-width);
        background: $drawer-bg;

        &.is-visible {
            transform: translateX(0);
            pointer-events: all;
        }
    }

    .mdl-layout__obfuscator {

        pointer-events: none;

        &.is-visible {
            pointer-events: all;
        }
    }
}

.desktop-drawer-nav {

    .mdl-navigation {

        & > ul {
            overflow: hidden;
            // Initially hidden, until a nav button click triggers it to show
            height: 0;
            padding: 0;

            li {
                width: 100%;

                .nav-title,
                .nav-handle {
                    height: 40px;
                    line-height: 40px;
                    text-align: left;
                    padding: 0 30px;
                    width: calc(100% - 60px);
                    color: $drawer-primary-text-color;
                    font-family: $drawer-font;
                    font-size: 12px;

                    @if $header-use-uppercase {
                       text-transform: uppercase;
                    } @else {
                        text-transform: none;
                    }

                    a {
                        @if $header-use-uppercase {
                            text-transform: uppercase;
                        } @else {
                            text-transform: none;
                        }
                    }
                }

                .nav-handle.mdl-accordion__button {
                    display: flex;
                    a {
                        @include truncate(150px);
                        color: $drawer-primary-text-color;
                    }

                    &:hover {
                        background-color: $drawer-hover-color !important;
                    }
                }

                .nav-title {
                    height: 50px;
                    line-height: 50px;
                    border-top: 1px solid $divider;
                    border-bottom: 1px solid $divider;
                }
            }
        }

        ul {
            padding: 0;
        }
    }

    .mdl-layout__drawer-button {
        display: none;
    }
}

.drawer-logo-container {
    margin-top: 34px;
    padding: 14px;
    padding-left: 25px;
    height: 48px;
    display: flex;
    align-items: center;
}

.mobile-drawer-nav {

    .mdl-layout__drawer {
        background: $drawer-mobile-bg;
        color: white;
        border: none;
        text-transform: uppercase;
    }

    .mdl-layout__drawer-button {

        color: $header-icons-color;
        top: 4px;

        @include mq('tablet', 'min') {
            display: none;
        }

        pointer-events: all;

        i.material-icons {
            line-height: 48px;
            font-size: 33px;
        }

        &:hover {
            background-color: $drawer-hover-color !important;
        }
    }

    .drawer-logo-container {
        background: $drawer-header-bg;
        margin-top: 0;
        height: 34px;
        padding: 10px;
    }

    .mdl-navigation {
        padding-top: 0;
        font-size: 14px;

        .points-available {
            padding: 10px;
            padding-left: 20px;
            border-bottom: 1px solid $divider;
        }

        ul {
            font-size: 14px;
            padding-left: 20px;
        }

    }

    .search-textfield-container {
        padding: 0 20px;
        padding-right: 15px;

        .mdl-textfield {
            width: 100%;
            margin-left: -11px;
            padding-top: 14px !important;
        }

        input {
            width: calc(100% - 40px);
            margin-left: 40px;
            border-bottom: 1px solid white;
            border-radius: 0;
        }

        .mdl-textfield__input {
            position: relative;
            top: 6px;
            text-align: left;
        }

        .mdl-textfield__label {
            width: calc(100% - 40px);
            margin-left: 40px;
        }

        label.mdl-button {

            // Note, this mixin must be used on the icon's container
            @include set-mdl-icon-size(30);

            top: 17px;

            // Search icon btn
            .material-icons {
                margin-right: 1px;
                transform: translate(-14px, -11px);
                color: $header-icons-color;
            }
        }
    }

    .mobile-nav-page-controller {
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        -webkit-transition: height 0.3s;
    }

    .mobile-nav-page {
        position: absolute;
        width: 100%;

        ul {
            overflow: hidden;
        }

        -webkit-transition: margin 0.3s;
    }

    .back-button {
        cursor: pointer;
        padding-left: 20px;
        margin-bottom: 8px;
        display: flex;
        line-height: 24px;
        i.material-icons {
            color: $brand-accent;
            margin-right: 10px;
        }
    }

    .page-left {
        margin-left: -100%;
    }

    .page-right {
        margin-left: 100%;
    }

    ul {
        margin-bottom: 15px;

        li {
            display: flex;
            margin-bottom: 10px;
        }

        .mobile-nav-handle {
            a {
                color: white;
            }
        }

        [data-subnav] i.material-icons {
            color: $brand-accent;
        }
    }
}


.site-header {
    height: $top-nav-height;
    background: #efeff1;
    font-weight: bold;
    font-family: $top-nav-font;
    font-size: 10px;
    // text-transform: uppercase;
    color: $top-nav-color;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .credits-left {
        padding: 7px 0;
        padding-left: 25px;
        font-size: $top-nav-font-size;
        text-transform: $top-nav-welcome-text-transform;
    }

    div {
        display: flex;
    }

    .top-buttons {

        margin: 0;
        margin-right: 10px;

        .top-btn {
            display: inline-block;
            list-style-type: none;
            font-size: $top-nav-font-size;
            padding-left: 13px;
            padding-right: 13px;
            height: $top-nav-height;
            line-height: $top-nav-height;
            cursor: pointer;
            font-weight: $top-nav-font-weight;

            &:hover {
              box-shadow: inset 0px -2px $brand-accent;
            }

            a {
                color: $top-nav-color;
                text-decoration: none;
                text-transform: $top-nav-text-transform;
            }
        }
    }

    @include mq('tablet', 'max') {
        display: none;
    }
}

.money-left {
    margin-left: 7px;
    color: $brand-accent;
}

.logo {
    max-height: $logo-height;

    &.logo--desktop {
        padding-left: 10px;
        padding-right: 15px;
    }
}

.main-nav {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: $bold;
    padding: 14px 25px;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 35px;
    @include header-primary-text;


    @if variable-exists(header-bg) {
        background: $header-bg;
    }

    .nav-left {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .desktop-nav {

            display: flex;
            flex-flow: row wrap;
            padding-top: 9px;

            .sub-nav {
                li > div > a {
                    color: $header-cart-primary-text-color;
                }
            }

            ul:first-of-type {
                position: relative;
                top: -6px;
            }



            // Overrides for mdl's button styles
            & > ul {

                padding-left: 13px;
                flex: 1 1 100%;
                display: flex;

                & > li {


                    .nav-handle {
                        border-radius: 0;
                        min-width: 0;
                        height: 24px;
                        // line-height: 48px;
                        padding: 0 18px;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;

                        & > a {
                            line-height: 0;
                        }
                    }

                    &[data-subnav] {

                        & > .nav-handle {
                            padding-left: 38px;
                            text-align: left;
                            :before {
                                left: 10px;
                            }
                        }

                        .sub-nav {
                            z-index: 10;
                            padding: 8px 0;

                            .sub-nav-item {
                              position: relative;
                            }

                            .nav-handle {
                                padding: 0 24px;
                            }

                            [data-subnav] {

                                & > .nav-handle {
                                    padding-right: 45px;
                                    :after {
                                        right: 10px;
                                    }
                                }

                                & ~ li .nav-handle {
                                    padding-right: 45px;
                                }
                            }
                        }
                    }

                    a {
                        @include header-primary-text;
                        // text-transform: uppercase;
                        @if $header-use-uppercase {
                           text-transform: uppercase;
                        } @else {
                            text-transform: none;
                        }
                    }

                    .nav-handle-line-1 a {
                        font-size: $header-nav-line-1-font-size;
                        font-weight: $header-nav-line-1-font-weight;
                    }

                    .nav-handle-line-2 a {
                        font-size: $header-nav-line-2-font-size;
                        font-weight: $header-nav-line-2-font-weight;
                    }
                }
            }
        }

        .mobile-nav {
            display: none;
        }
    }

    .nav-right {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .search-desktop {
            display: flex;
            margin: 0;

            .search-textfield-container {

                position: relative;
                // top: 9px;

                .mdl-textfield {
                    // margin: -40px 0;
                    padding: 0 !important;
                }

                .mdl-button--search {
                    bottom: 0 !important;
                    top: 0 !important;
                }

                .mdl-textfield__label {

                    &:after {
                        background-color: $header-search-underline-color;
                    }
                }
            }

            label.mdl-button {

                // Note, this mixin must be used on the icon's container
                @include set-mdl-icon-size(27);

                // Search icon btn
                .material-icons {
                    margin-right: 1px;
                    transform: translate(-14px, -11px);
                    color: $header-icons-color;
                }
            }

            @include mq('tablet', 'max') {
                // display: none;
                .search-textfield-container {
                    display: none;
                }
            }
        }

        .cart {

            margin-left: 8px;

            .cart-container {

                width: 34px;
                height: 34px;

                .material-icons {
                    margin-top: 1px;
                    color: $header-icons-color;

                    &:after {
                        border: $header-cart-badge-border;
                        width: 12px;
                        height: 12px;
                        top: -3px;
                        right: -1px;
                        font-size: 9px;
                        background: $header-cart-badge-color;
                    }
                }
            }

            .mdl-menu__container {

                right: -15px;
                top: 44px;

                // TODO if targeting opera mini, should run `bower install --save vminpoly`
                // caniuse says there's no support for vw or vh
                max-height: calc(100vh - 108px);
                margin-top: 8px;

                .shopping-cart {
                    padding: 0;
                    max-width: 100vw;
                    display: flex;
                    flex-flow: column nowrap;
                    color: $header-cart-primary-text-color;

                    .cart-item-container {
                        overflow-y: auto;
                        flex-grow: 1;
                    }
                }

                &.is-visible {

                    .mdl-menu__outline {
                        height: 100% !important;
                    }

                    .shopping-cart {
                        height: 100%;
                    }
                }

                @include mq('tablet', 'min') {
                    margin-top: 13px;
                }

                @include mq('tablet', 'max') {
                    .cart-header {
                        height: 50px;
                        min-height: 50px;
                    }
                }
            }
        }
    }

    @include mq('tablet', 'max') {

        padding: 10px 15px;

        .desktop-nav {
            display: none !important;
        }

        .mobile-nav {
            display: block;
        }

        .nav-left {
            margin-left: 40px;
        }
    }
}

// ---------------------
// Shopping Cart
// ---------------------

.shopping-cart {
  width: 430px;
}
.cart-header {
  padding: 0 20px;
  border-bottom: 1px solid $divider;
  height: 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  .cart-title {
    font-size: 23px;
    text-transform: uppercase;
    line-height: 1.75;

    @include mq('tablet','max') {
        font-size: 19px;
    }
  }
}
.cart-item-container {
  padding: 0 20px;
  max-height: 472px; // Enough for 3 1/2 items to show, the rest under scroll
  // overflow-x: scroll;
}
.cart-item {
  display: flex;
  align-items: center;
  height: 135px;
  box-sizing: border-box;
  position: relative;
  &:not(:last-of-type) {
      border-bottom: 1px solid $divider;
  }
}
// box-shadow: 0 2px 4px rgba(0,0,0,.15);
.cart-item-text {
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;

  .cart-item-name {
    text-transform: uppercase;
    flex: 2 100%;
    margin-bottom: 25px;
  }
  .cart-item-quantity {
    flex: 1 50%;
  }
  .cart-item-price {
    flex: 1 50%;
    color: $brand-accent;
  }
}

.cart-item-img {

  $img-size: 85px;

  display: flex;
  width: $img-size;

  img {
      margin: auto;
      max-height: $img-size;
      max-width: $img-size;
  }
}

.cart-footer {

  border-top: 1px solid $divider;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;

  @include mq('tablet','max') {
      height: 59px;
      min-height: 59px;
  }

  .mdl-button--colored {
    font-family: $standard-font-face;
    font-size: 10px;
    letter-spacing: 2px;
    background: $brand-accent;
    color: white;
  }

  .cart-subtotal {
    font-size: 18px;

    @include mq('tablet','max') {
        font-size: 15px;
    }
  }
}

// Additional Geiger styles.
.remove-from-cart-placeholder {
    width: 32px;
    height: 32px;
}